{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Add Playlist</h3>
                            <div class="nk-block-des text-soft">
                                 
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">    
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <form action="{% url redirect %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}               
                    <div class="nk-block">
                        <div class="card card-bordered card-stretch">
                            <div class="card-inner-group">
                                <div class="card-inner position-relative card-tools-toggle">
                                    <div class="row gy-4">
                                    	
                    						
                    							
                                        			<div class="col-xxl-3 col-md-6">
                                            			<div class="form-group">
                                            				<label for="playlists_name" class="form-label"> Playlists Name </label>
															
						                    				<span style="color:red;">*</span>
						                  					
						                  					<div class="form-control-wrap">
							                  					<input type="text" class="form-control" id="playlists_name" name="playlists_name" value=""  placeholder="Enter playlists name"     required   >
							                  				</div>	
						                  				</div>
                                        			</div><!--col-->
                                        			
			                                    
			                            
                    						
			                                <div class="col-xxl-3 col-md-6">
                                            	<div class="form-group">
                                            		<label for="song_name" class="form-label"> Song </label>
													
							                    		<span style="color:red;">*</span>
							                  		
							                  		<div class="form-control-wrap">
							                  			<select class="form-select" name="song_name" class="form-control"  required     >
							                  			
															<option>--select--</option>

                                                            {% for song in songs %}
					          								
									          					<option value="{{ song.song_name }}">{{ song.song_name }}</option>
												        
												          	{% endfor %}
								            				
	        											</select>
	        										</div>
			                                    </div>	
			                                </div><!--col-->
			                                    
			                            
                    						
			                                    
                                        			<div class="col-12">
                                            			<div class="form-group">
                                                			<button type="submit" class="form-control" name= "action" value=""   >Submit</button>
                                                	
			                                    	</div><!--col-->
			                            	    
			                                  
                                    </div><!--row-->
                                </div><!-- .card-inner -->
                            </div><!-- .card-inner-group -->
                        </div><!-- .card -->
                    </div><!-- .nk-block -->
                </form>
           	</div>
        </div>
    </div>
</div>{% endblock content %}

{% block script %}
<script src="{% static 'assets/js/checkboxValidation.js' %}"></script>
{% endblock script %}